@model List<ComArticles.ViewModels.ArticleViewModel>
<link rel="stylesheet" type="text/css" href="~/Components/ComArticles/Content/Style.css">

<div class="row">
    <div class="col-md-12">
        <h2>ARTICLES</h2>
    </div>
</div>
<hr />
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Published</th>
                <th>Create time</th>
                <th>Modify time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Model[i].Title, "ComponentView", "Home", 
                                        new { targetController = "AdminArticles",
                                              targetAction = "ArticleEdit",
                                              optionalData = Model[i].Alias,
                                              area = "Administrator"
                        }, null)
                    </td>
                    <td>
                        <a href="#" class="changeArticleStatusLink" data-alias="@Model[i].Alias" data-published="@Model[i].Published">
                            @if (Model[i].Published)
                            {
                                <img class="article-list-published published-true"/>
                            }
                            else
                            {
                                <img class="article-list-published published-false" />
                            }
                        </a>
                    </td>
                    <td>@Model[i].CreateTime</td>
                    <td>@Model[i].ModifyTime</td>
                    <td>
                        <a href="#" class="btn btn-default btn-icon trash-button-action" data-alias="@Model[i].Alias">
                            <i class="fa fa-trash-o trash-icon"></i>
                        </a>
                    </td> 
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" src="~/Components/ComArticles/Scripts/ArticlesListScript.js"></script>